#$ TOOL ispLEVER Classic 7.0.00.10.16.07
#$ DATE Wed Mar 05 14:59:26 2014
#$ MODULE converter_case
#$ PINS 8 p:3 q:4 r:5 s:6 a:24 b:25 c:26 d:27
.type fr
.i 4
.o 4
.ilb p q r s
.ob a b c d
.p 13
10-- ~~1~
0-1- ~1~~
-11- ~~~1
1-0- ~1~~
-10- ~~1~
---1 1~~~
-0-- ~~~0
00-- ~~0~
1-1- ~0~~
-11- ~~0~
--0- ~~~0
0-0- ~0~~
---0 0~~~
.end
